/* Resets */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #222;
}

div {
    display: block;
}

.content {
    text-align: center;
    padding-bottom: 35px;
}

div.filler {
    height: 32px;

}

.form-div {
    padding-top: 6px;
    margin: 0 auto;
    position: relative;
}

.big {
    width: 582px;
}

.outerbar{
    height: 44px;
    display: flex;
    margin: auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    z-index: 3;
}

.outerbar * {
    border: none;
}

.outerbar:hover, .outerbar input:active{
    box-shadow: 0px 1px 6px rgba(32,33,36,0.28), 
                0px 1px 6px rgba(32,33,36,0.28);
}

.innerbar{
    display: flex;
    flex: 1 1 0%;
    padding: 5px 8px 0px 14px;
    border: none;
}

.innerbar * {
    height: 100%;
}

.icon-div {
    align-items: center;
    display: flex;
    font-size: 13px;
    margin-top: -5px;
    padding-right: 13px;
}
.icon-div-inner {
    display: block;
    height: 20px;
    margin: 8.5px 0 8.5px 0;
}

.lens-icon {
    margin-top: 3px;
    height: 20px;
    width: 20px;
}

.mic-icon {
    margin-top: 1px;
    margin-right: -8px;
    margin-left: 8px;
    height: 22px;
    width: 22px;
}

.searchbar-div {
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
}

.searchbar-div-inner {
    flex: 100%;
    display: block;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
}

.search-input {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    outline: none;
}

.btns {
    position: absolute;
    top: 53px;
    height: 70px;
    padding-top: 18px;
}

.btn-input{
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    min-width: 54px;
    height: 36px;
    line-height: 27px;
    cursor: pointer;
}

.btn-input:hover {
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.footer {
    line-height: 40px;
    background-color: #f2f2f2;
    margin-top: 1px solid #e4e4e4;
}

#logo {
    width: 292px;
    height: 92px;
}

#logo-container {
    min-height: 100px;
    padding-top:110px;
}